extends ../layouts/master

block content
    main.content.px-3.py-4
        div.container-fluid
            div.mb-3
                main.content.px-3.py-4
                    div.container-fluid
                        div.mb-3
                            h3.fw-bold.fs-4.mb-3 Beasiswa Internal Maranatha
                            div.card.bg-light.shadow.border-0.rounded-3.mb-4
                                div.border-bottom.ps-3.pt-3
                                    p.fw-semibold Info Beasiswa
                                div.table-responsive.small.px-3
                                    table.table.table-striped.table-sm.mt-1
                                        thead
                                            tr
                                                th(scope='col') Kode Beasiswa
                                                th(scope='col') Jenis Beasiswa
                                                th(scope='col') Jurusan
                                                th(scope='col') Batas IPK
                                                th(scope='col') Semester
                                                th(scope='col') Status
                                        tbody
                                            tr
                                                td B010
                                                td Anak Pegawai
                                                td Teknologi Informasi
                                                td 3.7
                                                td 2
                                                td Aktif
                                            tr
                                                td B020
                                                td Prestasi
                                                td Sistem Informasi
                                                td 3.6
                                                td 3
                                                td Aktif
                                            tr
                                                td B021
                                                td Keadaan Ekonomi
                                                td Psikolog
                                                td 3.5
                                                td 5
                                                td aktif
                                            tr
                                                td B030
                                                td Rohaniawan
                                                td FIlsafat
                                                td 3.5
                                                td 1
                                                td Aktif
                                            tr
                                                td B031
                                                td Badan Pendukung
                                                td Hukum
                                                td 3.7
                                                td 1
                                                td Aktif
                            div.card.bg-light.shadow.border-0.rounded-3.mb-4
                                div.border-bottom.ps-3.pt-3
                                    p.fw-semibold Info Beasiswa Terbuka
                                div.table-responsive.small.px-3
                                    table.table.table-striped.table-sm.mt-1
                                        thead
                                            tr
                                                th(scope='col') Kode Beasiswa
                                                th(scope='col') Jenis Beasiswa
                                                th(scope='col') Jurusan
                                                th(scope='col') Batas IPK
                                                th(scope='col') Periode
                                        tbody
                                            tr
                                                td B010
                                                td Prestasi
                                                td Sastra Mandarin
                                                td 3.5
                                                td 28/05/2024 - 03/06/2024
                                            tr
                                                td B020
                                                td Rohaniawan
                                                td Kedokteran
                                                td 3.75
                                                td 28/05/2024 - 03/06/2024
                                            tr
                                                td B030
                                                td Keadaan Ekonomi
                                                td Teknik Industri
                                                td 3.6
                                                td 28/05/2024 - 03/06/2024


        // JavaScript
        script(src='/bootstrap/dist/js/bootstrap.bundle.min.js')
        script.
            const hamBurger = document.querySelector('.toggle-btn');
            hamBurger.addEventListener('click', function () {
            document.querySelector('#sidebar').classList.toggle('expand');
            });
