<!DOCTYPE html>
html

    head
        meta(charset="utf-8")
        meta(name="viewport", content="width=device-width, initial-scale=1")
        title Pengajuan Beasiswa Internal
        // Bootstrap
        link(rel='stylesheet', href='/bootstrap/dist/css/bootstrap.min.css')
        //Icon
        link(rel='stylesheet', href='https://cdn.lineicons.com/4.0/lineicons.css')
        //css
        link(rel='stylesheet', href='/css/dashboard.css')

    body
        div.wrapper
            // Sidebar
            aside#sidebar.sticky-top
                .d-flex
                    button.toggle-btn(type='button')
                        i.lni.lni-grid-alt
                    .sidebar-logo
                        a(href='') Maranatha
                ul.sidebar-nav
                    li.sidebar-item
                        a.sidebar-link(href='/home')
                            i.lni.lni-dashboard
                            span Home
                    li.sidebar-item
                        a.sidebar-link.collapsed.has-dropdown(href='#' data-bs-toggle='collapse' data-bs-target='#auth' aria-expanded='false' aria-controls='auth')
                            i.lni.lni-folder
                            span Beasiswa Mahasiswa
                        ul#auth.sidebar-dropdown.list-unstyled.collapse(data-bs-parent='#sidebar')
                            li.sidebar-item
                                a.sidebar-link(href='/pengajuan') Pengajuan
                            li.sidebar-item
                                a.sidebar-link(href='riwayat') Riwayat
                    li.sidebar-item
                        a.sidebar-link.collapsed.has-dropdown(href='#' data-bs-toggle='collapse' data-bs-target='#master' aria-expanded='false' aria-controls='master')
                            i.lni.lni-folder
                            span Admin punya
                        ul#master.sidebar-dropdown.list-unstyled.collapse(data-bs-parent='#sidebar')
                            li.sidebar-item
                                a.sidebar-link(href='/jenisBeasiswa') Jenis Beasiswa
                            li.sidebar-item
                                a.sidebar-link(href='/mahasiswa') Mahasiswa
                            li.sidebar-item
                                a.sidebar-link(href='/fakultas') Fakultas
                            li.sidebar-item
                                a.sidebar-link(href='/programStudi') Program Studi
                            li.sidebar-item
                                a.sidebar-link(href='/userManagement') User Management
                    li.sidebar-item
                        a.sidebar-link(href='')
                            i.lni.lni-download
                            span Hasil
                    li.sidebar-item
                        a.sidebar-link(href='/approvalFakultas')
                            svg.bi.bi-calendar2-check(xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='currentColor' viewbox='0 0 16 16')
                                path(d='M10.854 8.146a.5.5 0 0 1 0 .708l-3 3a.5.5 0 0 1-.708 0l-1.5-1.5a.5.5 0 0 1 .708-.708L7.5 10.793l2.646-2.647a.5.5 0 0 1 .708 0')
                                path(d='M3.5 0a.5.5 0 0 1 .5.5V1h8V.5a.5.5 0 0 1 1 0V1h1a2 2 0 0 1 2 2v11a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V3a2 2 0 0 1 2-2h1V.5a.5.5 0 0 1 .5-.5M2 2a1 1 0 0 0-1 1v11a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1V3a1 1 0 0 0-1-1z')
                                path(d='M2.5 4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5H3a.5.5 0 0 1-.5-.5z')
                            span.m-lg-3 Approval - fakultas
                    li.sidebar-item
                        a.sidebar-link(href='/approvalProgramStudi')
                            svg.bi.bi-calendar2-check(xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='currentColor' viewbox='0 0 16 16')
                                path(d='M10.854 8.146a.5.5 0 0 1 0 .708l-3 3a.5.5 0 0 1-.708 0l-1.5-1.5a.5.5 0 0 1 .708-.708L7.5 10.793l2.646-2.647a.5.5 0 0 1 .708 0')
                                path(d='M3.5 0a.5.5 0 0 1 .5.5V1h8V.5a.5.5 0 0 1 1 0V1h1a2 2 0 0 1 2 2v11a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V3a2 2 0 0 1 2-2h1V.5a.5.5 0 0 1 .5-.5M2 2a1 1 0 0 0-1 1v11a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1V3a1 1 0 0 0-1-1z')
                                path(d='M2.5 4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5H3a.5.5 0 0 1-.5-.5z')
                            span.m-lg-3 Approval - program studi

            div.main
                // Navbar
                nav.navbar.navbar-expand.px-4.pt-4.py-3
                    form.d-none.d-sm-inline-block(action='#')
                    .navbar-collapse.collapse
                        .dropdown.position-fixed.me-3.end-0
                            button.btn.dropdown-toggle(type='button' data-bs-toggle='dropdown' aria-expanded='false')
                                | Your Name
                            ul.dropdown-menu.dropdown-menu-end.nav-background.py-2
                                li
                                    a.dropdown-item(href='#')
                                        i.lni.lni-user
                                        span Profile
                                li
                                    a.dropdown-item(href='#')
                                        i.lni.lni-exit
                                        span Logout
                // Content
                main.content.px-3.py-4
                    div.container-fluid
                        div.mb-3
                            block content

        // JavaScript
        script(src='/bootstrap/dist/js/bootstrap.bundle.min.js')
        script.
            const hamBurger = document.querySelector('.toggle-btn');
            hamBurger.addEventListener('click', function () {
                document.querySelector('#sidebar').classList.toggle('expand');
            });
