extends ../layouts/master
extends ../dashboard

block navbar
    nav.navbar.navbar-expand.px-4.pt-4.py-3
        form.d-none.d-sm-inline-block(action='#')
        .navbar-collapse.collapse
            .dropdown.position-fixed.me-3.end-0
                button.btn.dropdown-toggle(type='button' data-bs-toggle='dropdown' aria-expanded='false')
                    | Your Name
                ul.dropdown-menu.dropdown-menu-end.nav-background.py-2
                    li
                        a.dropdown-item(href='#')
                            i.lni.lni-user
                            span Profile
                    li
                        a.dropdown-item(href='#')
                            i.lni.lni-exit
                            span Logout
