extends ../layouts/master

block content
    main.content.px-3.py-4
        div.container-fluid
            div.mb-3
                div.d-flex.justify-content-between.mb-3
                    h3.fw-bold.fs-4.mb-3 Riwayat
                div.card.bg-light.shadow.border-0.rounded-3.mb-4
                    div.border-bottom.ps-3.pt-3
                        p.fw-semibold Riwayat pengajuan beasiswa
                    div.table-responsive.small.px-3
                        table.table.table-striped.table-sm.mt-1
                            thead
                                tr
                                    th(scope='col') Nama beasiswa
                                    th(scope='col') Periode
                                    th(scope='col') Rekomen Dosen
                                    th(scope='col') Membuat PKM
                                    th(scope='col') Beasiswa Lain
                                    th(scope='col') DKBS
                                    th(scope='col') Transkrip
                                    th(scope='col') Lampiran Lain
                                    th.text-center(scope='col') Action
                            tbody
                                tr
                                    td Akademik
                                    td Ganjil 22/23
                                    td Link
                                    td Link
                                    td Link
                                    td Link
                                    td Link
                                    td Link
                                    td.text-center
                                        button.btn.btn-warning(data-bs-toggle="modal" data-bs-target="#editRiwayatModal")
                                            svg.bi.bi-pencil-square(xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='currentColor' viewbox='0 0 16 16')
                                                path(d='M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z')
                                                path(fill-rule='evenodd' d='M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5z')

                                        button.btn.btn-danger.mx-2
                                            svg.bi.bi-trash-fill(xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='currentColor' viewbox='0 0 16 16')
                                                path(d='M2.5 1a1 1 0 0 0-1 1v1a1 1 0 0 0 1 1H3v9a2 2 0 0 0 2 2h6a2 2 0 0 0 2-2V4h.5a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1H10a1 1 0 0 0-1-1H7a1 1 0 0 0-1 1zm3 4a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 .5-.5M8 5a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7A.5.5 0 0 1 8 5m3 .5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 1 0')
                                tr
                                    td Akademik
                                    td Genap 22/23
                                    td Link
                                    td Link
                                    td Link
                                    td Link
                                    td Link
                                    td Link
                                    td.text-center
                                        button.btn.btn-warning
                                            svg.bi.bi-pencil-square(xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='currentColor' viewbox='0 0 16 16')
                                                path(d='M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z')
                                                path(fill-rule='evenodd' d='M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5z')

                                        button.btn.btn-danger.mx-2
                                            svg.bi.bi-trash-fill(xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='currentColor' viewbox='0 0 16 16')
                                                path(d='M2.5 1a1 1 0 0 0-1 1v1a1 1 0 0 0 1 1H3v9a2 2 0 0 0 2 2h6a2 2 0 0 0 2-2V4h.5a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1H10a1 1 0 0 0-1-1H7a1 1 0 0 0-1 1zm3 4a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 .5-.5M8 5a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7A.5.5 0 0 1 8 5m3 .5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 1 0')

            div#editRiwayatModal.modal.fade(tabindex='-1' aria-labelledby='editRiwayatLabel' aria-hidden='true')
                div.modal-dialog.modal-lg
                    div.modal-content
                        div.modal-header
                            h1#editRiwayatModalLabel.modal-title.fs-5 Edit
                            button.btn-close(type='button' data-bs-dismiss='modal' aria-label='Close')
                        div.modal-body
                            form(action='/submit-upload' method='post' enctype='multipart/form-data')
                                div.row.mb-3
                                    label.col-sm-4.col-form-label(for='surat_rekomendasi') Surat Rekomendasi Dosen :
                                    div.col-sm-8
                                        input#surat_rekomendasi.form-control(type='file' name='surat_rekomendasi' required)
                                div.row.mb-3
                                    label.col-sm-4.col-form-label(for='pkm') Surat Pernyataan Bersedia Membuat PKM :
                                    div.col-sm-8
                                        input#pkm.form-control(type='file' name='pkm' required)
                                div.row.mb-3
                                    label.col-sm-4.col-form-label(for='tidak_terima_beasiswa') Surat Pernyataan Tidak Menerima Beasiswa Lain :
                                    div.col-sm-8
                                        input#tidak_terima_beasiswa.form-control(type='file' name='tidak_terima_beasiswa' required)
                                div.row.mb-3
                                    label.col-sm-4.col-form-label(for='dkbs') DKBS Baru :
                                    div.col-sm-8
                                        input#dkbs.form-control(type='file' name='dkbs' required)
                                div.row.mb-3
                                    label.col-sm-4.col-form-label(for='transkrip') Transkrip Nilai :
                                    div.col-sm-8
                                        input#transkrip.form-control(type='file' name='transkrip' required)
                                div.row.mb-3
                                    label.col-sm-4.col-form-label(for='lampiran') Lampiran Lainnya (Tidak Wajib) :
                                    div.col-sm-8
                                        input#lampiran.form-control(type='file' name='lampiran')
                        div.modal-footer
                            button.btn.btn-secondary(type='button' data-bs-dismiss='modal') Close
                            button.btn.btn-primary(type='button') Edit