extends ../layouts/master

block content
    main.content.px-3.py-4
        div.container-fluid
            h3.fw-bold.fs-4.mb-3 Beasiswa Internal Maranatha
            div.card.bg-light.shadow.border-0.rounded-3.mb-4
                div.border-bottom.ps-3.pt-3
                    p.fw-semibold Daftar Pengajuan Beasiswa
                div.table-responsive.small.px-3
                    table.table.table-striped.table-sm.mt-1
                        thead
                            tr
                                th(scope='col') Kode Beasiswa
                                th(scope='col') Nama Mahasiswa
                                th(scope='col') Status
                                th(scope='col') Tanggal Pengajuan
                        tbody
                            tr
                                td B010
                                td John Doe
                                td Menunggu
                                td 01/06/2024
                            tr
                                td B020
                                td Jane Doe
                                td Disetujui
                                td 15/05/2024
                            tr
                                td B030
                                td Jake Doe
                                td Ditolak
                                td 20/04/2024


        // JavaScript
        script(src='/bootstrap/dist/js/bootstrap.bundle.min.js')
        script.
            const hamBurger = document.querySelector('.toggle-btn');
            hamBurger.addEventListener('click', function () {
                document.querySelector('#sidebar').classList.toggle('expand');
            });
